#content{
    margin-top: 5px;
    margin-left: 250px; /* 사이드바 너비 */
    padding-left: 30px;
    padding-right: 30px;

    width: calc(100% -250px);
    border: 3px solid black;
    /* 
    각 페이지 별 컨텐츠 내용에 일괄적으로 적용할 css 넣기
    */
}

    #mainContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        padding: 20px;
    }

        .nextPages {
            display: flex;
            align-items: center;
            justify-content: center;
            
            height: 54px;
            border: 6px solid black;
            border-radius: 15px;
            padding: 0;

            font-weight: bolder;
            font-size: 35px;
            text-align: center;

        }
        .nextPages:hover {
            background-color: black;
            color: white;
        }
        .nextPages:hover img {
            display: block;
        }

            #toRecent {
                width: 194px;
            }
            #toRecent img {
                top: calc(50% + 20px);
                left: 50%;
                transform: translate(-50%, -50%);
            }

            #toCategory {
                width: 240px;
            }
            #toCategory img {
                top: calc(50% + 20px);
                left: 50%;
                transform: translate(-50%, -50%);
            }

            #toPortfolio {
                width: 255px;
            }
            #toPortfolio img {
                top: calc(50% + 20px);
                left: 50%;
                transform: translate(-50%, -50%);
            }



/* content fin*/