<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's your name? PeterJoo!</title>
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/index_content.css">
</head>
<body>
    <div id="banner">
        <div id="topbanner">
            <!-- 상단 메뉴 / 모든 페이지에 일괄 적용-->
            <!--Topbanner Contents-->
            <div id="bannerMessage">
                <h1>Jinmyung's Blog</h1>
                <h3>데이터 전문가가 되기 위한 개발자 노트</h3>
            </div>

        </div><!--topbanner fin-->
    
        <div id="sidebanner">
            <!-- 좌측 메뉴 = 인덱스 표시 / sticky / 모든 페이지에 일괄 적용-->
            <!--Sidebanner Contents-->
            <div id="introduce">
                <br>
                <div id="selfie">
                    <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.6435-9/96232436_853158995162314_8940683040393265152_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=LuuH_ScDvBAQ7kNvgGENTXV&_nc_ht=scontent-gmp1-1.xx&oh=00_AYBXYx4-of5mxxWQOBuZVDAoFoTzl_UXCKILigwsObC5JQ&oe=6673C6B2"
                    width="400px" height="250px" style="padding-right: 110px;">
                </div><!--selfie fin-->

                <hr style="width: calc(100% - 80px); margin: 0 40px; border:1.5px solid black;">
                <div id="author">
                    <h3>
                        <!--내 이름-->
                        Peter Joo
                    </h3>
                </div>
                <hr style="width: calc(100% - 140px); margin: 0 40px; border:1px solid black; margin-right:93px;">
                <div id="breifIntro">
                    <!--간략한 자기소개-->
                        <span>🙂주진명</span>
                        <span>🚩Suwon</span>
                        <span>✍️ Hello, my friends</span>
                    
                </div><!--breifIntro fin-->

            </div><!--introduce fin-->

            <hr style="width: calc(100% - 80px); margin: 0 40px; border:1.5px solid black;">
            <div id="links">
                <p>
                    <span>
                        <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                        width="170px" height="50px">
                    </span>
                    <br>
                    <span>
                        <img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"
                        width="170px" height="50px">
                    </span>
                    <br>
                    <span>
                        <img src="https://img.shields.io/badge/Notion-000000?style=for-the-badge&logo=notion&logoColor=white"
                        width="170px" height="50px">
                    </span>
                </p>
                
            </div>

        </div><!--sidebanner fin-->

    </div><!--banner fin-->
    

    <div id="content">
        <div id="mainContent">
            <div id="toRecent" class="nextPages">
                🕝<span id="recentText">RECENT</span>
            </div>
            <div id="toCategory" class="nextPages">
                🔍<span id="recentText">CATEGORY</span>
            </div>
            <div id="toPortfolio" class="nextPages">
                📜<span id="recentText">PORTFOLIO</span>
            </div>
            
        </div> <!--mainContent fin-->

        <hr style="border: 2px solid darkgray;">

        <div id="subContent">
            <h2 class="heading-element" dir="auto">- 소개 ✨</h2>
    <div>
        <hr>
        <!---프로그래머스 등급 넣을 자리--->
        <hr>
        <p id='introduce'>
        &nbsp;&nbsp;안녕하세요! 데이터 분석 분야에서 새롭게 시작한 신입입니다.<br>
        무역 관련 데이터에 대한 깊은 흥미와 경험이 있고, Python을 활용한 데이터 탐색과 시각화에 자신있습니다.<br>
        도메인 지식을 토대로 정확한 분석과 직관적인 시각화를 통해 인사이트를 도출하는 것을 목표로 하고 있습니다.
        </p>
    <hr>
        <p>
            <br>
            <ul>
            <li>포트폴리오 : <a href="#">something</a></li><br>
            <li>블로그 : <a href="#">something</a></li><br>
            <li>이메일 : <a href="mailto:jujin1996@gmail.com">jujin1996@gmail.com</a></li><br>
            </ul> 
        </p>
    </div>
    <hr>
    <br><br>
    <h2 class="heading-element" dir="auto">- 사용 가능한 기술 📚</h2>
    <div>
        <h3 class="subheading-element" dir="auto">- Language 📖</h3>
        <p>
            <img src='https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=black'>
            <img src='https://img.shields.io/badge/Oracle-F80000?style=for-the-badge&logo=Oracle&logoColor=white'>
            <img src='https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white'>
            <br>
            <img src='https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white'>
            <img src='https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E'>
            <img src="https://img.shields.io/badge/jQuery-0769AD?style=for-the-badge&logo=jquery&logoColor=white">
            <img src='https://img.shields.io/badge/json-5E5C5C?style=for-the-badge&logo=json&logoColor=white'>
        </p> 

    <h3 class="subheading-element" dir="auto">- IDE ⚙️</h3>
        <p>
            <img src="https://img.shields.io/badge/Jupyter-F37626.svg?&style=for-the-badge&logo=Jupyter&logoColor=white">
            <img src="https://img.shields.io/badge/Visual_Studio_Code-0078D4?style=for-the-badge&logo=visual%20studio%20code&logoColor=white">
            <img src="https://img.shields.io/badge/Eclipse-2C2255?style=for-the-badge&logo=eclipse&logoColor=white">
        </p>

    <h3 class="subheading-element" dir="auto">- FrameWork 🏗️</h3>
        <p>
            <img src="https://img.shields.io/badge/Spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white">
            <img src="https://img.shields.io/badge/Spring_Boot-F2F4F9?style=for-the-badge&logo=spring-boot">
            <img src="https://img.shields.io/badge/gradle-02303A?style=for-the-badge&logo=gradle&logoColor=white">
        </p>
        
        <h3 class="subheading-element" dir="auto">- ML / DL 🤖</h3>
        <p>
            <img src='https://img.shields.io/badge/Numpy-777BB4?style=for-the-badge&logo=numpy&logoColor=white'>
            <img src='https://img.shields.io/badge/Pandas-2C2D72?style=for-the-badge&logo=pandas&logoColor=white'>
            <img src='https://img.shields.io/badge/scikit_learn-F7931E?style=for-the-badge&logo=scikit-learn&logoColor=white'>
        </p>
        
        <h3 class="subheading-element" dir="auto">- Design 🎨</h3>
        <p>
            <img src='https://img.shields.io/badge/Figma-F24E1E?style=for-the-badge&logo=figma&logoColor=white'>
            <img src='https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white'>
        </p>
        
        <h3 class="subheading-element" dir="auto">- Co-work 👥</h3>
        <p>
            <img src='https://img.shields.io/badge/GIT-E44C30?style=for-the-badge&logo=git&logoColor=white'>
            <img src='https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white'>
            <img src='https://img.shields.io/badge/Notion-000000?style=for-the-badge&logo=notion&logoColor=white'>
        </p>
    </div>
        </div>
    </div><!--content fin-->
    

    <!---프로그래머스 등급 넣을 자리--->


<!---
Peterjoo96/Peterjoo96 is a  special ✨ repository because its `README.md` (this file) appears on your GitHub profile.
You can click the Preview link to take a look at your changes.
--->

</body>
</html>